@charset "UTF-8";
form {
  max-width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

textarea {
  width: 100%;
  min-height: 125px; }

input, textarea {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 12px;
  color: #fff;
  padding: 18px 15px;
  outline: 0; }

input {
  width: 43%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 560px) {
    input {
      width: 100%; } }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #fff; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #fff; }

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #fff; }

input::placeholder, textarea::placeholder {
  color: #fff; }

#menu__toggle {
  opacity: 0; }

.hamburger-menu {
  position: relative;
  margin-bottom: 50px; }
  @media (max-width: 1080px) {
    .hamburger-menu {
      margin-bottom: 30px; } }

/* стилизуем кнопку */
.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* используем flex для центрирования содержимого */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* центрируем содержимое кнопки */
  position: absolute;
  bottom: 18px;
  width: 33px;
  height: 33px;
  cursor: pointer;
  z-index: 1; }

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161; }

.menu__btn > span::before {
  content: '';
  top: -8px; }

.menu__btn > span::after {
  content: '';
  top: 8px; }

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0; }

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  -webkit-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }

.menu__box {
  -webkit-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }

.menu__item {
  -webkit-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }

.socials {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  @media (max-width: 740px) {
    .socials {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.social__item {
  margin-right: 10px; }

.social__icon {
  border: 1px solid transparent;
  border-radius: 10px;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  display: block;
  margin-top: 0; }
  .social__icon:hover {
    border: 1px solid #fff;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.social__icon-fb {
  background-image: url(./../img/icons/Facebook.svg); }

.social__icon-dr {
  background-image: url(./../img/icons/Dribbble.svg); }

.social__icon-tw {
  background-image: url(./../img/icons/Twitter.svg); }

.button {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  max-width: 210px;
  margin-top: 50px; }
  @media (max-width: 1080px) {
    .button {
      margin-top: 30px;
      margin-bottom: 30px; } }

.button__black {
  color: #000;
  border: 1px solid #000; }

.logo {
  display: block;
  width: 90px;
  height: 90px;
  background-image: url(./../img/logo.png);
  background-repeat: no-repeat;
  margin-bottom: 25px;
  background-size: cover; }
  @media (max-width: 1080px) {
    .logo {
      width: 70px;
      height: 70px; } }
  @media (max-width: 740px) {
    .logo {
      margin-top: 20px;
      width: 50px;
      height: 50px;
      margin: 20px auto; } }

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: "a a a a a a b b b"  "c c c c d d d d d"  "c c c c e e e e e"  "f f f g g g g g g"; }
  @media (max-width: 740px) {
    .grid {
      -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "a" "b" "c" "d" "e" "f" "g"; } }

.grid-item_bg {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: a; }

.grid-item_gray {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: b; }

.grid-item_blue {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: c; }

.grid-item_beige {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-area: d; }

.grid-item_black {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-area: e; }

.grid-item_human {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: f; }

.grid-item_green {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-area: g; }

@media (max-width: 740px){
    .grid-item_bg {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
    .grid-item_gray {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
    .grid-item_blue {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
    .grid-item_beige {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
    .grid-item_black {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
    .grid-item_human {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
    .grid-item_green {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; } }

body {
  font-family: 'Roboto', sans-serif; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 42px; }

h4 {
  font-size: 40px; }

h2,
h3,
h4 {
  font-weight: 200;
  margin-top: 0;
  letter-spacing: 1px;
  margin-bottom: 55px; }
  h2 span,
  h3 span,
  h4 span {
    font-weight: 900; }
  @media (max-width: 1080px) {
    h2,
    h3,
    h4 {
      margin-bottom: 20px;
      font-size: 30px; } }
  @media (max-width: 830px) {
    h2,
    h3,
    h4 {
      margin-bottom: 20px;
      font-size: 25px; } }

h4 {
  margin-bottom: 15px; }

ul > li {
  list-style: none; }

p {
  font-size: 15px;
  line-height: 28px;
  margin: 0; }
  @media (max-width: 1080px) {
    p {
      font-size: 13px;
      line-height: 22px; } }

a,
input,
textarea {
  font-size: 16.57px; }
  @media (max-width: 1080px) {
    a,
    input,
    textarea {
      font-size: 13px; } }

.grid-item_bg {
  background-image: url(./img/first.jpg);
  padding: 0; }
  @media (max-width: 740px) {
    .grid-item_bg {
      display: none; } }

.grid-item_gray {
  background-color: #f3f3f3; }

.grid-item_blue {
  background-image: url(./img/3.jpg); }

.grid-item {
  background-size: cover;
  background-position: center center;
  padding: 60px 27px 73px 47px;
  background-repeat: no-repeat; }
  @media (max-width: 1080px) {
    .grid-item {
      padding: 40px 30px; } }

.grid-item_beige {
  background-image: url(./img/12.jpg); }
  @media (max-width: 740px) {
    .grid-item_beige {
      text-align: center; } }

.grid-item_black {
  background-image: url(./img/4.jpg); }
  @media (max-width: 740px) {
    .grid-item_black {
      text-align: center; } }

.grid-item_human {
  background-image: url(./img/5.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  min-height: 580px; }
  @media (max-width: 1080px) {
    .grid-item_human {
      min-height: 480px; } }
  @media (max-width: 740px) {
    .grid-item_human {
      min-height: inherit;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center; } }

.grid-item_green {
  background-image: url(./img/6.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 480px; }
  .grid-item_green > div {
    width: 100%; }
  @media (max-width: 740px) {
    .grid-item_green {
      text-align: center; } }

.grid-item_blue,
.grid-item_green,
.grid-item_human,
.grid-item_black {
  color: #fff; }

.grid-item_blue-part {
  margin-bottom: 70px; }
  @media (max-width: 1080px) {
    .grid-item_blue-part {
      margin-bottom: 30px; } }

.span {
  display: inline-block; }

.grid-item_human-logo {
  width: 100%; }

/*# sourceMappingURL=main.css.map */