@charset "UTF-8";
form {
  max-width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

textarea {
  width: 100%;
  min-width: 125px; }

input, textarea {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 12px;
  color: #fff;
  padding: 18px 15px;
  outline: 0; }

input {
  width: 43%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #fff; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #fff; }

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #fff; }

input::placeholder, textarea::placeholder {
  color: #fff; }

#menu__toggle {
  opacity: 0; }

.hamburger-menu {
  position: relative; }

/* стилизуем кнопку */
.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* используем flex для центрирования содержимого */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* центрируем содержимое кнопки */
  position: absolute;
  bottom: 18px;
  width: 33px;
  height: 33px;
  cursor: pointer;
  z-index: 1; }

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161; }

.menu__btn > span::before {
  content: '';
  top: -8px; }

.menu__btn > span::after {
  content: '';
  top: 8px; }

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0; }

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  -webkit-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }

.menu__box {
  -webkit-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }

.menu__item {
  -webkit-transition-duration: .25s;
  -o-transition-duration: .25s;
  transition-duration: .25s; }

.socials {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.social__item {
  margin-right: 10px; }

.social__icon {
  border: 1px solid transparent;
  border-radius: 10px;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  display: block;
  margin-top: 0; }
  .social__icon:hover {
    border: 1px solid #fff;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.social__icon-fb {
  background-image: url(./../img/icons/Facebook.svg); }

.social__icon-dr {
  background-image: url(./../img/icons/Dribbble.svg); }

.social__icon-tw {
  background-image: url(./../img/icons/Twitter.svg); }

.button {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  max-width: 210px;
  margin-bottom: 64px;
  margin-top: 50px; }

.button__black {
  color: #000;
  border: 1px solid #000; }

.logo {
  display: block;
  width: 90px;
  height: 90px;
  background-image: url(./../img/logo.png);
  background-repeat: no-repeat;
  margin-bottom: 25px; }

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: "a a a a a a b b b" "c c c c d d d d d" "c c c c e e e e e" "f f f g g g g g g"; }

.grid-item_bg {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: a; }

.grid-item_gray {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: b; }

.grid-item_blue {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: c; }

.grid-item_beige {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-area: d; }

.grid-item_black {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-area: e; }

.grid-item_human {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: f; }

.grid-item_green {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-area: g; }

body {
  font-family: 'Roboto', sans-serif; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 42px; }

h4 {
  font-size: 40px; }

h2,
h3,
h4 {
  font-weight: 200;
  margin-top: 0;
  letter-spacing: 1px;
  margin-bottom: 10px; }
  h2 span,
  h3 span,
  h4 span {
    font-weight: 900; }

ul > li {
  list-style: none; }

p {
  font-size: 15px;
  line-height: 28px;
  margin: 0; }

a,
input,
textarea {
  font-size: 16.57px; }

.grid-item_bg {
  background-image: url(./img/first.jpg);
  padding: 0; }

.grid-item_gray {
  background-color: #f3f3f3; }

.grid-item_blue {
  background-image: url(./img/3.jpg); }

.grid-item {
  background-size: cover;
  background-position: center center;
  padding: 60px 27px 73px 47px;
  background-repeat: no-repeat; }

.grid-item_beige {
  background-image: url(./img/12.jpg); }

.grid-item_black {
  background-image: url(./img/4.jpg); }

.grid-item_human {
  background-image: url(./img/5.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between; }

.grid-item_green {
  background-image: url(./img/6.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.grid-item_blue,
.grid-item_green,
.grid-item_human,
.grid-item_black {
  color: #fff; }

.grid-item_blue-part {
  margin-bottom: 70px; }

.span {
  display: block; }

/*# sourceMappingURL=main.css.map */