.button {

    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    max-width: 210px;
    margin-bottom: 64px;
margin-top: 50px;
} 

.button__black {
    color: #000;
    border: 1px solid #000;
}