form {
  max-width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

textarea {
  width: 100%;
  min-height: 125px;
}

input, textarea {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 12px;
  color: #fff;
  padding: 18px 15px;
  outline: 0;
}

input {
  width: 43%;
  justify-content: space-between;
  @media (max-width:560px) {
    width: 100%;
  }
  
}
//меняем цвет placeholder
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #fff; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #fff; }
input::-ms-input-placeholder, textarea::-ms-input-placeholder { color: #fff; }
input::placeholder, textarea::placeholder { color: #fff; } 
